<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="hibernate.connection.url">jdbc:mysql://localhost/ms_square</property>
<property name="hibernate.connection.username">root</property>
<property name="hibernate.connection.password">1234</property>
<property name="hibernate.connection.pool_size">10</property>
<property name="show_sql">false</property>
<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
<property name="hibernate.current_session_context_class">thread</property>
<property name="hibernate.hbm2ddl.auto">update</property> 
 
<mapping class="pojo.categories" />
<mapping class="pojo.brands" />
<mapping class="pojo.categories_brands" />
<mapping class="pojo.models" />
<mapping class="pojo.items" />
<mapping class="pojo.customers" />
<mapping class="pojo.suppliers" />
<mapping class="pojo.purchase" />
<mapping class="pojo.purchase_details" />
<mapping class="pojo.sales" />
<mapping class="pojo.sales_details" />
<mapping class="pojo.services_details" />
<mapping class="pojo.services" />
<mapping class="pojo.users" />

</session-factory>
</hibernate-configuration>